.topNavBar {
  width: 100%;
  padding: 24px 14px;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.5s;
}

.topNavBar.sticky {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 7px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.topNavBar.sticky>nav ul li>a {
  color: #3d4451;
}

.topNavBar nav {
  float: right;
  list-style: none;
}

.topNavBar nav>ul>li {
  float: left;
  margin: 0 15px;
  padding: 9px 0 10px 0;
  position: relative;
}

.topNavBar nav>ul>li>a {
  font-size: 13px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.7);
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  padding-bottom: 7px;
}

.topNavBar nav li .submenu {
  color: #3c4451;
  position: absolute;
  display: none;
  top: 100%;
  right: 0;
  text-align: right;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  padding: 10px 0;
}

.topNavBar nav li .submenu>li {
  font-size: 14px;
  padding: 10px 30px;
  white-space: nowrap;
  cursor: pointer;
}

.topNavBar nav li .submenu>li a {
  color: #3c4451;
}

.topNavBar nav .portfolioMenu.active .submenu {
  display: block;
  animation: menuSlide 0.5s;
}

@keyframes menuSlide {
  0% {
    margin-right: 100%;
  }
  100% {
    margin-right: 0%;
  }
}

.topNavBar nav .submenu li:hover {
  background-color: #fafafa;
}

.topNavBar nav .submenu li:hover a {
  color: #f5919d;
}

.topNavBar nav>ul>li.active::after,
.topNavBar nav>ul>li.highlight::after {
  content: '';
  display: block;
  position: absolute;
  top: 92%;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: #f35367;
  animation: barSlide 0.5s;
}

@keyframes barSlide {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.topNavBar .logo {
  float: left;
  font-family: 'Fredoka One';
  font-size: 30px;
  padding: 5px 0;
}

.topNavBar .logo .myName {
  color: rgb(232, 103, 107);
  margin-right: 5px;
}

.topNavBar .logo .wordCard {
  color: rgb(154, 157, 162);
}

[data-choosed].offset {
  transform: translateY(100px);
}

[data-choosed] {
  transform: translateY(0);
  transition: all 0.5s;
}

header .banner {
  height: 515px;
  background-image: url('../img/rs-cover.jpg');
  background-position: center center;
  background-size: cover;
}

header .banner .mask {
  height: 515px;
  background-color: rgba(44, 51, 64, 0.8);
}

main {
  max-width: 940px;
  margin: 0 auto;
}

main .card {
  background-color: #fff;
  margin-top: -340px;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
}

main .card .content {
  padding: 57px 50px 15px 50px;
}

main .card .portrait {
  float: left;
  margin-right: 65px;
}

main .card .personalInfo {
  float: left;
  width: 470px;
}

main .card .portrait img {
  width: 300px;
  height: 340px;
}

main .card .personalInfo .welcome {
  background-color: #e8676b;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 12px;
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
}

main .card .personalInfo .triangle {
  display: block;
  border: 8px solid transparent;
  width: 0;
  height: 0;
  border-top-width: 0;
  border-left-color: #e8676b;
  margin-left: 5px;
  position: absolute;
  left: 5px;
  top: 100%;
}

main .card .personalInfo h1 {
  font-size: 34px;
  line-height: 1.2;
  margin: 10px 0;
}

main .card .personalInfo>p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.1;
  margin: 0;
}

main .card .personalInfo hr {
  margin: 20px 0;
}

main .card .personalInfo dl {
  font-size: 12px;
}

main .card .personalInfo dl>dt,
main .card .personalInfo dl>dd {
  float: left;
  height: 35px;
  line-height: 35px;
  padding: 5px 0;
}

main .card .personalInfo dl>dt {
  float: left;
  width: 25%;
  font-weight: 700;
}

main .card .personalInfo dl>dd {
  float: right;
  width: 75%;
  font-size: 15px;
  color: #9da0a7;
}

main .card .mediaLink {
  background-color: #e6686a;
  text-align: center;
  padding: 15px 0;
}

main .card .mediaLink a {
  width: 45px;
  line-height: 25px;
  margin: 5px 20px;
  padding: 10px 0;
  border-radius: 50%;
  display: inline-block;
}

main .card .mediaLink a:hover {
  background-color: #da4b5c;
}

main .card .mediaLink .icon {
  vertical-align: top;
}

main .pdfResume .downloadWrapper {
  text-align: center;
  margin-top: 50px;
}

main .pdfResume .downloadWrapper .download {
  font-size: 16px;
  color: #494d5b;
  font-weight: 700;
  line-height: 18px;
  padding: 18px 55px;
  border: 1px solid rgb(203, 205, 207);
  border-radius: 3px;
  transition: box-shadow 0.5s;
}

main .pdfResume .downloadWrapper .download:hover {
  box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.2);
}

main .pdfResume .introduction {
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
  line-height: 1.8;
  margin-top: 50px;
}

main .skills ul {
  background-color: #fff;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  padding: 40px 50px 10px 50px;
}

main .skills ul li {
  width: 50%;
  margin-bottom: 40px;
}

main .skills ul li:nth-child(odd) {
  float: left;
  padding-right: 15px;
}

main .skills ul li:nth-child(even) {
  float: right;
  padding-left: 15px;
}

main .skills h2 {
  margin-top: 70px;
  margin-bottom: 25px;
}

main .skills h3 {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 5px;
}

main .skills .progressBar {
  width: 100%;
  height: 5px;
  border-radius: 3px;
  background: #fcdce0;
  overflow: hidden;
}

main .skills .progress {
  width: 80%;
  height: 100%;
  border-radius: 3px;
  background: #f35367;
  transform: translateX(0);
  transition: all 1s;
}

main .skills.offset .progress {
  transform: translateX(-100%)
}

main .skills .htmlSkill .progress {
  width: 75%;
}

main .skills .jsSkill .progress {
  width: 70%;
}

main .skills .jqSkill .progress {
  width: 60%;
}

main .skills .vueSkill .progress {
  width: 20%;
}

main .skills .httpSkill .progress {
  width: 30%;
}

main .skills .nodeSkill .progress {
  width: 30%;
}

main .portfolio {
  text-align: center;
  margin-bottom: 40px;
}

main .portfolio h2 {
  margin-top: 70px;
  margin-bottom: 25px;
}

main .portfolio .swiper-container {
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
}

main .portfolio .swiper-container .swiper-slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

main .portfolio .swiper-container .swiper-button {
  width: 64px;
  height: 64px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}

main .portfolio .swiper-container .swiper-button:hover {
  background-color: rgb(255, 255, 255);
}

main .portfolio .swiper-container {
  position: relative;
}

main .portfolio .swiper-wrapper:hover .worksLink {
  position: absolute;
  top: 20px;
  left: 40px;
  text-align: center;
}

main .portfolio .worksLink > p {
  font-size: 28px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 10px;
}
main .portfolio .worksLink a {
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 17px;
  border-radius: 4px;
  z-index: 1;
}

main .portfolio .worksLink a:hover {
  background-color: rgb(255, 255, 255);
}

main .portfolio .icon {
  width: 30px;
  height: 30px;
  fill: #f35367;
}

main .calendar {
  margin-top: 102px;
}

main .calendar .calendarDetail {
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  margin-top: 16px;
}
main .calendar .todaySide {
  background-color: #31323f;
  justify-content: center;
  padding-bottom: 94px;
}
main .calendar .todaySide .todayOfDate {
  background-color: #e8676b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px 76px 44px 76px;
  padding: 20px 42px;
  border-radius: 7px;
  position: relative;
}
main .calendar .todaySide .todayOfDate::before {
  position: absolute;
  content: '';
  width: 3px;
  height: 12px;
  left: 30%;
  top: -6px;
  border-radius: 38%;
  background-color: #fff;
}
main .calendar .todaySide .todayOfDate::after {
  position: absolute;
  content: '';
  width: 3px;
  height: 12px;
  right: 30%;
  top: -6px;
  border-radius: 38%;
  background-color: #fff;
}
main .calendar .todayOfDate .todayDate {
  font-size: 74px;
  color: #fff;
}
main .calendar .todayOfDate .todayMonth {
  font-size: 33px;
  color: #fff;
  letter-spacing: 0.2em;
}
main .calendar .todayWeek {
  font-size: 36px;
  color: #fff;
  letter-spacing: 0.08em;
  margin: 0 76px;
}
main .calendar .allDatesSide {
  width: 100%;
  padding: 35px;
  position: relative;
}
main .calendar .allDatesSide .monthAndYear {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
main .calendar .allDatesSide .monthAndYear p {
  margin: 0 36px;
  font-size: 16px;
  font-weight: 550;
  text-transform: uppercase;
}
main .calendar .allDatesSide .monthAndYear p span:nth-child(1) {
  margin-right: 5px;
}
main .calendar .allDatesSide .icon {
  fill: #d6d6d6;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
main .calendar .weeksList li {
  font-size: 14px;
  color: #757575;
  font-weight: 700;
  text-transform: uppercase;
  padding: 13px 5px;
}
main .calendar .bodyList ul li {
  width: calc(100% / 7);
  text-align: center;
  vertical-align: middle;
  float: left;
}
main .calendar .days.bodyList li {
  height: 46px;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .calendar .days.bodyList li span {
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 3px;
}
main .calendar .days.bodyList li span.active {
  background-color: #e8676b;
  color: #fff;  
}
main .calendar .allDatesSide .wishYou {
  border-top: 1px solid #e1e1e1;
  font-size: 12px;
  line-height: 1.25;
  padding: 18px 0 18px 35px;
  position: absolute;
  bottom: 0;
  width: 82%;
  margin: 0 25px;
}
main .calendar .allDatesSide .wishYou::before {
  display: block;
  content: '';
  width: 14px;
  height: 14px;
  position: absolute;
  left: 10px;
  top: 18px;
  background-color: #cacaca;
  border-radius: 3px;
}

main .blog {
  margin-top: 70px;
  position: relative;
}
main .blog .blogContainer {
  position: relative;
}
main .blog .timerLine {
  width: 4px;
  height: 500px;
  background-color: rgba(232, 103, 107, 0.2);
  position: absolute;
  left: 50%;
  top: 60px;
  transform: translate(-50%);
}
main .blog .blogContent {
  width: 46%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-top: 4px solid #f35367;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  margin-top: 26px;
  padding: 20px 4%;
}
main .blog .blogContent .time {
  color: #e8676b;
  font-size: 16px;
  font-weight: 700;
}
main .blog .blogContent a {
  font-size: 22px;
  color: #414141;
  margin: 15px 0 20px 0;
}
main .blog .blogContent .classify {
  font-size: 13px;
  color: #878787;
}
main .blog .blogContent.lineLeft {
  float: left;
  position: relative;
}
main .blog .blogContent.lineLeft::before {
  content: '';
  display: block;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 10px solid transparent;
  border-left: 10px solid #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
  z-index: 1;
}
main .blog .blogContent.lineLeft::after {
  content: '';
  display: block;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 10px solid transparent;
  border-left: 10px solid rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -21px;
}
main .blog .blogContent.lineRight {
  float: right;
  position: relative;
  top: 50px;
}
main .blog .blogContent.lineRight::before {
  content: '';
  display: block;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
  z-index: 1;
}
main .blog .blogContent.lineRight::after {
  content: '';
  display: block;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -21px;
}
main .blog .blogContent .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #e8676b;
}
main .blog .blogContent.lineLeft .dot {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -42px;
}
main .blog .blogContent.lineRight .dot {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -41px;
}








footer {
  margin: 100px 0 30px 0;
  text-align: center;
}

footer .foot {
  display: inline-block;
  vertical-align: top;
  line-height: 2.6;
}

footer .foot a {
  width: 45px;
  line-height: 25px;
  margin: 5px 20px;
  padding: 10px 0;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

footer .foot a:hover {
  background-color: #d6d6d7;
}

footer .foot a:hover .icon {
  fill: #6e6e6e;
}

footer .foot .icon {
  vertical-align: top;
}

.swiper-container {
  width: 921px;
  height: 483px;
}