.topNavBar {
  width: 100%;
  padding: 24px 14px;
  position: fixed;
  top: 0;
  left: 0;
}

header nav {
  float: right;
  list-style: none;
}

header nav ul li {
  float: left;
  margin: 0 15px;
  padding: 9px 0 10px 0;
}

header nav ul li>a {
  font-size: 13px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.7);
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  padding-bottom: 7px;
}

header ul li a:hover {
  border-bottom: 3px solid #e8676b;
}

header .logo {
  float: left;
  font-family: 'Fredoka One';
  font-size: 30px;
  padding: 1px 0;
}

header .logo .myName {
  color: rgb(232, 103, 107);
  margin-right: 5px;
}

header .logo .wordCard {
  color: rgb(154, 157, 162);
}

header .banner {
  height: 515px;
  background-image: url('./img/rs-cover.jpg');
  background-position: center center;
  background-size: cover;
}

header .banner .mask {
  height: 515px;
  background-color: rgba(44, 51, 64, 0.8);
}

main {
  max-width: 940px;
  margin: 0 auto;
}

main .card {
  background-color: #fff;
  margin-top: -340px;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
}

main .card .content {
  padding: 57px 50px 15px 50px;
}

main .card .portrait {
  float: left;
  margin-right: 65px;
}

main .card .personalInfo {
  float: left;
  width: 470px;
}

main .card .portrait img {
  width: 300px;
  height: 340px;
}

main .card .personalInfo .welcome {
  background-color: #e8676b;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 12px;
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
}

main .card .personalInfo .triangle {
  display: block;
  border: 8px solid transparent;
  width: 0;
  height: 0;
  border-top-width: 0;
  border-left-color: #e8676b;
  margin-left: 5px;
  position: absolute;
  left: 5px;
  top: 100%;
}

main .card .personalInfo h1 {
  font-size: 34px;
  line-height: 1.2;
  margin: 10px 0;
}

main .card .personalInfo>p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.1;
  margin: 0;
}

main .card .personalInfo hr {
  margin: 20px 0;
}

main .card .personalInfo dl {
  font-size: 12px;
}

main .card .personalInfo dl>dt,
main .card .personalInfo dl>dd {
  float: left;
  height: 35px;
  line-height: 35px;
  padding: 5px 0;
}

main .card .personalInfo dl>dt {
  float: left;
  width: 25%;
  font-weight: 700;
}

main .card .personalInfo dl>dd {
  float: right;
  width: 75%;
  font-size: 15px;
  color: #9da0a7;
}

main .card .mediaLink {
  background-color: #e6686a;
  text-align: center;
  padding: 15px 0;
}

main .card .mediaLink a {
  width: 45px;
  line-height: 25px;
  margin: 5px 20px;
  padding: 10px 0;
  border-radius: 50%;
  display: inline-block;
}

main .card .mediaLink a:hover {
  background-color: #da4b5c;
}

main .card .mediaLink .icon {
  vertical-align: top;
}

main .pdfResume .downloadWrapper {
  text-align: center;
  margin-top: 50px;
}

main .pdfResume .downloadWrapper .download {
  font-size: 16px;
  color: #494d5b;
  font-weight: 700;
  line-height: 18px;
  padding: 18px 55px;
  border: 1px solid rgb(203, 205, 207);
  border-radius: 3px;
  transition: box-shadow 0.5s;
}

main .pdfResume .downloadWrapper .download:hover {
  box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.2);
}

main .pdfResume .introduction {
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
  line-height: 1.8;
  margin-top: 50px;
}

main .skills ul {
  background-color: #fff;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  padding: 40px 50px 10px 50px;
}

main .skills ul li {
  width: 50%;
  margin-bottom: 40px;
}

main .skills ul li:nth-child(odd) {
  float: left;
  padding-right: 15px;
}

main .skills ul li:nth-child(even) {
  float: right;
  padding-left: 15px;
}

main .skills h2 {
  margin-top: 70px;
  margin-bottom: 25px;
}

main .skills h3 {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 5px;
}

main .skills .progressBar {
  width: 100%;
  height: 5px;
  border-radius: 3px;
  background: #fcdce0;
}

main .skills .progress {
  width: 80%;
  height: 100%;
  border-radius: 3px;
  background: #f35367;
}

main .skills .htmlSkill .progress {
  width: 70%;
}

main .skills .jsSkill .progress {
  width: 60%;
}

main .skills .jqSkill .progress {
  width: 60%;
}

main .skills .vueSkill .progress {
  width: 20%;
}

main .skills .reactSkill .progress {
  width: 0%;
}

main .skills .nodeSkill .progress {
  width: 50%;
}

main .portfolio {
  text-align: center;
}

main .portfolio h2 {
  margin-top: 70px;
  margin-bottom: 25px;
}

main .portfolio ul {
  display: inline-block;
  vertical-align: top;
}

main .portfolio nav {
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

main .portfolio ul li {
  float: left;
  margin: 0 25px;
  font-size: 16px;
  cursor: pointer;
}

main .portfolio ul li:first-child {
  margin-left: 0;
}

main .portfolio ul li:last-child {
  margin-right: 0;
}

main .portfolio nav .footBar {
  height: 6px;
  border-radius: 5px;
  background-color: #fff;
  margin-top: 8px;
  margin-bottom: 30px;
}

main .portfolio .footBar .barItems {
  height: 100%;
  background-color: #f35367;
  border-radius: 5px;
  width: 20%;
  margin-left: 30px;
  transition: all 0.5s;
}

main .portfolio .footBar.state-1 .barItems {
  margin-left: 0;
  width: 40px;
}

main .portfolio .footBar.state-2 .barItems {
  margin-left: 70px;
  width: 60px;
}

main .portfolio .footBar.state-3 .barItems {
  margin-left: 154px;
  width: 102px;
}

main .portfolio .allWorks {
  margin-top: 5px;
  height: 279px;
}

main .portfolio .allWorks .works {
  float: left;
  padding: 0 9px;
  position: relative;
}

main .portfolio .allWorks .works::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.3);
  top: 0px;
  right: 10px;
  bottom: 7px;
  left: 10px;
  position: absolute;
}
main .calendar {
  margin-top: 62px;
  border: 1px solid red;
}
main .blog {
  margin-top: 70px;
  border: 1px solid red;
}


footer {
  margin: 30px 0;
  text-align: center;
}
footer .foot {
  display: inline-block;
  vertical-align: top;
  line-height: 2.6;
}
footer .foot a {
  margin: 5px 35px;
}